// Стили всех модальных окон

.modals-wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    text-align: right;
    position: relative;
    right: -40px;
    top: -40px;
    height: 0;
    cursor: pointer;
    &:hover{
      opacity: 0.6;
    }
  }

  .modals {
    width: 430px;
    height: 330px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 20px;

    .modal {
      padding: 35px;
      .modalPhoto_button {
        margin-top: 40px;
      }
      .modal_header {
        font-weight: 900;
        font-size: 24px;
      }

      form {
        margin: 30px 0 20px 0;

        label {
          display: block;

          input {
            font-size: 14px;
            line-height: 17px;
            border-bottom: 1px solid #B0C4DE;
            border-radius: 0;
            outline: none;
            padding: 13px 0;
            width: 100%;
          }
        }
      }

      button {
        background: #000000;
        border-radius: 2px;
        color: white;
        width: 100%;
        height: 50px;
        font-size: 18px;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.modalHide {
  display: none;
}