// Стили всех модальных окон

.modals-wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .close {
    text-align: right;
    position: relative;
    right: -40px;
    top: -40px;
    height: 0;
    cursor: pointer;
    @media (max-width: 445px) {
      right: 0;
    }
    &:hover {
      opacity: 0.6;
    }
  }

  .modals {
    width: 430px;
    height: 330px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 20px;
    @media (max-width: 540px) {
      width: 350px;
    }
    @media (max-width: 445px) {
      width: 320px;
    }



    .modal {
      padding: 35px;


      .modalPhoto_button {
        margin-top: 40px;
      }

      .modal_header {
        font-weight: 900;
        font-size: 24px;
      }

      form {
        margin-top: 30px;

        label {
          display: block;

          input {
            font-size: 14px;
            line-height: 17px;
            border-bottom: 1px solid #B0C4DE;
            border-radius: 0;
            outline: none;
            padding: 13px 0;
            width: 100%;
          }
        }
      }

      button {
        background: #000000;
        border-radius: 2px;
        color: white;
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-top: 20px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .modalBig{
      height: 100%;
    }
  }
  .modals--bigPhoto {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
  }
}

.modalHide {
  display: none;
}