// Стили всех изображений
//
.images{
  display: flex;
  justify-content: flex-start;
  @media (max-width: 935px) {
    justify-content: center;
  }
}

.images_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 17px;
  color: white;
  @media (max-width: 935px) {
    width: 581px;
  }
  @media (max-width: 640px) {
    width: 282px;
  }

  .images_item {
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 282px;
    display: inline-block;
    .images_itemControls {
      display: flex;
      gap: 4px;
    }
    .images_itemName {
      word-break: break-word;
      padding-right: 5px;
    }
    .images_itemLike{
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .images_itemCross{
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .images_photo {
      border-radius: 10px 10px 0 0;
      width: 282px;
      height: 282px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    .images_itemLabel {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}
