@import 'null.scss';

// шрифт не работает
@font-face {
  font-family: "Inter";
  src: url('./../assets/fonts/Inter-Regular.ttf') format('truetype');
}

body {
  background-color: black;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}

header {
  color: white;
}

.header_container {
  border-bottom: 1px solid #545454;
  padding: 40px 0;

  .header_brand {
    font-size: 33px;
    font-weight: 500;
  }

  .header_country {
    font-size: 12px;
    vertical-align: top;
  }
}

.profile_container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 35px 0 45px 0;

  .profile_info {
    display: flex;
    justify-content: start;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .profile_infoText {
      padding: 20px 0 0 18px;
      min-width: 240px;

      .profile_name {
        font-size: 42px;
        font-weight: 500;
        margin: 0 35px 15px 0;
      }

      .profile_description {
      }

    }

    .profile_change {
      border: 1px solid white;
      width: 25px;
      height: 25px;
      margin-top: 31px;
      cursor: pointer;
      &:hover{
        opacity: 0.6;
      }

      svg {
        vertical-align: center;
        margin: 0 auto;
        padding: 7.5px;
      }
    }
  }

  .profile_control {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    cursor: pointer;
    &:hover{
      opacity: 0.6;
    }

    .profile_addImage {
      font-size: 32px;
    }
  }
}

.images_container {
  display: flex;
  justify-content: flex-start;
  gap: 17px;
  flex-wrap: wrap;

  .images_item {
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 282px;
    .images_itemLike{
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .images_itemCross{
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .images_photo {
      border-radius: 10px 10px 0 0;
      width: 282px;
      height: 282px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }

    .images_itemLabel {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.footer_container {
  color: #545454;
  flex: 0 0 auto;
  padding: 60px 0
}

.modals-wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    text-align: right;
    position: relative;
    right: -40px;
    top: -40px;
    height: 0;
    cursor: pointer;
    &:hover{
      opacity: 0.6;
    }
  }

  .modals {
    width: 430px;
    height: 330px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    .modal {
      padding: 35px;
      .modalPhoto_button {
        margin-top: 40px;
      }
      .modal_header {
        font-weight: 900;
        font-size: 24px;
      }

      form {
        margin: 30px 0 20px 0;

        label {
          display: block;

          input {
            font-size: 14px;
            line-height: 17px;
            border-bottom: 1px solid #B0C4DE;
            border-radius: 0;
            outline: none;
            padding: 13px 0;
            width: 100%;
          }
        }
      }

      button {
        background: #000000;
        border-radius: 2px;
        color: white;
        width: 100%;
        height: 50px;
        font-size: 18px;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.modalHide {
  display: none;
}